.sideBar {
    grid-area: h;
    background-color: rgb(240, 203, 155);
    box-decoration-break: clone;
    padding: 20px;
    padding-top: 20px;
}

.item a.active {
    color: rgb(65, 119, 189);
}

.item a {
    color: rgb(17, 16, 16);
}