
.header img {
    width: 200px;
    padding: 10px;
}

.header {
    grid-area: h;
    background-color: rgb(65, 119, 189);
    padding: 5px;
}

.login_block {
    float: right;

}

.login_block a {
    color: white;
}