.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;

}

.dialogItems {
    padding: 10px;
    color: rgb(87, 192, 17);

}

.messages {
    padding: 10px;
    color: rgb(151, 14, 37);

}

.message {
    padding: 10px;
    color: rgb(151, 14, 37);

}

.s active {
    color: rgb(151, 14, 37);
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.button {
    background-color: deepskyblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.inputStyle {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

.inputStyle:focus {
    background-color: lightblue;
}
